{% extends "base.html" %}
{% block content %}
<div id="about" class="bubble">
	Help classify spam messages for Mozilla projects such as
	<a href="http://input.mozilla.com">input</a>
	and
	<a href="http://support.mozilla.com">kitsune</a>!
	Using your feedback we'll use machine learning to train a bayesian
	classifier to keep spam out of Mozilla projects!
	You can learn more about the bayesian classifier
	<a href="http://nbviewer.ipython.org/github/iankronquist/spicedham/blob/dev-notebook/Spicedham%20experiments.ipynb">here</a>
	If you want to know how else you can support Mozilla make the web a better
	place,
	<a href="http://www.whatcanidoformozilla.org">check this out</a>.
</div>
<div class="bubble">
	<h1>Login <a href="/register">or create an account</a><h1>
</div>
<div class="bubble">
	<form id="classify" action="/" method="POST">
	User Name:   <input type="text" name="username">
	Password:   <input type="password" name="password">
	<input type="submit" id="submit" name="ham" value="Log in!">
</form>
</div>

{% endblock %}
